image: java:8-jdk

stages:
  - build
  - test

before_script:
  - export GRADLE_USER_HOME=`pwd`/.gradle

cache:
  paths:
    - .gradle/wrapper
    - .gradle/caches

build:
  stage: build
  script:
    - ./gradlew assemble
  only:
    - master
    - develop

test:
  stage: test
  script:
    - ./gradlew clean tests:test

deploy:
  stage: deploy
  scripts:
    - ./gradlew desktop:dist
  artifacts:
    paths:
      - desktop/build/libs/*.jar
    expire_in: 1 week

after_script:
  - echo "End CI"